.programs-item__experts.experts
  h4.experts__title Эксперты:
  .experts__slider
    .experts__slider-next
    .swiper-container
      .experts__list.swiper-wrapper
        .experts__item.swiper-slide
          img(src="img/avatar.svg", alt="", width="38", height="38").experts__item-img
          .experts__item-name Константин Рождественский
          .experts__item-desc Основатель и CEO рекламного агентства 19/84, Директор АКАР Урал, Преподаватель УРФУ
        .experts__item.swiper-slide
          img(src="img/avatar.svg", alt="").experts__item-img
          .experts__item-name Константин Рождественский
          .experts__item-desc Основатель и CEO рекламного агентства 19/84, Директор АКАР Урал, Преподаватель УРФУ
        .experts__item.swiper-slide
          img(src="img/avatar.svg", alt="").experts__item-img
          .experts__item-name Константин Рождественский
          .experts__item-desc Основатель и CEO рекламного агентства 19/84, Директор АКАР Урал, Преподаватель УРФУ
        .experts__item.swiper-slide
          img(src="img/avatar.svg", alt="").experts__item-img
          .experts__item-name Константин Рождественский
          .experts__item-desc Основатель и CEO рекламного агентства 19/84, Директор АКАР Урал, Преподаватель УРФУ
        .experts__item.swiper-slide
          img(src="img/avatar.svg", alt="").experts__item-img
          .experts__item-name Константин Рождественский
          .experts__item-desc Основатель и CEO рекламного агентства 19/84, Директор АКАР Урал, Преподаватель УРФУ
        .experts__item.swiper-slide
          img(src="img/avatar.svg", alt="").experts__item-img
          .experts__item-name Константин Рождественский
          .experts__item-desc Основатель и CEO рекламного агентства 19/84, Директор АКАР Урал, Преподаватель УРФУ
