section.programs
  h2.programs__title Программа
  .programs__list
    .programs-item.programs-item--altai
      .programs-item__header
        span 19 мая, вторник
        .programs-item__logo-wrapper
          picture
            source(media="(min-width: 1192px)", srcset="img/altai-desktop@1x.webp 1x, img/altai-desktop@2x.webp 2x", type="image/webp")
            source(media="(min-width: 769px)", srcset="img/altai-tablet@1x.webp 1x, img/altai-tablet@2x.webp 2x", type="image/webp")
            source(srcset="img/altai-mobile@1x.webp 1x, img/altai-mobile@2x.webp 2x", type="image/webp")

            source(media="(min-width: 1192px)", srcset="img/altai-desktop@1x.png 1x, img/altai-desktop@2x.png 2x")
            source(media="(min-width: 769px)", srcset="img/altai-tablet@1x.png 1x, img/altai-tablet@2x.png 2x")
            img.programs-item__logo(src="img/altai-mobile@1x.png", srcset="img/altai-mobile@2x.png 2x", alt="Логотип компании Алтайский край", width="45", height="47")
      .programs-item__main.programs-item__main--closed
        .programs-item__subitem
          .programs-item__time-wrapper
            .programs-item__time 11:00
              span.programs-item__timezone МСК
          .programs-item__desc Больше возможностей на Мальдивах с Reollo Travel Maldives. Открытие deluxe-отеля The Nautilus Maldives и особенности lifestyle-отеля Kandima Maldives. Розыгрыш призов от курортов
          .programs-item__partners
            ul.programs-item__partners-list
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-1-desktop@1x.webp 1x, img/partner-1-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-1-tablet@1x.webp 1x, img/partner-1-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-1-mobile@1x.webp 1x, img/partner-1-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-1-desktop@1x.png 1x, img/partner-1-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-1-tablet@1x.png 1x, img/partner-1-tablet@2x.png 2x")
                  img(src="img/partner-1-mobile@1x.png", srcset="img/partner-1-mobile@2x.png 2x", alt="Profi Travel", width="45", height="29")
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-2-desktop@1x.webp 1x, img/partner-2-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-2-tablet@1x.webp 1x, img/partner-2-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-2-mobile@1x.webp 1x, img/partner-2-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-2-desktop@1x.png 1x, img/partner-2-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-2-tablet@1x.png 1x, img/partner-2-tablet@2x.png 2x")
                  img(src="img/partner-2-mobile@1x.png", srcset="img/partner-2-mobile@2x.png 2x", alt="Profi Travel", width="96", height="32")
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-3-desktop@1x.webp 1x, img/partner-3-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-3-tablet@1x.webp 1x, img/partner-3-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-3-mobile@1x.webp 1x, img/partner-3-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-3-desktop@1x.png 1x, img/partner-3-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-3-tablet@1x.png 1x, img/partner-3-tablet@2x.png 2x")
                  img(src="img/partner-3-mobile@1x.png", srcset="img/partner-3-mobile@2x.png 2x", alt="Profi Travel", width="92", height="35")
            a(href="#").programs-item__more-partners Подробнее

          block experts
            include experts

          .programs-item__order.btn-order
            .btn-order__wrapper
              button.btn-order__btn Записаться
              .btn-order__status
                .btn-order__loader
                  div
                  div
                  div
                  div
                  div
                  div
                  div
                  div
            .btn-order__desc 615 участников <span>уже записались</span>
        .programs-item__subitem
          .programs-item__time-wrapper
            .programs-item__time 11:00
              span.programs-item__timezone МСК
          .programs-item__desc Больше возможностей на Мальдивах с Reollo Travel Maldives. Открытие deluxe-отеля The Nautilus Maldives и особенности lifestyle-отеля Kandima Maldives. Розыгрыш призов от курортов
          .programs-item__partners
            ul.programs-item__partners-list
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-1-desktop@1x.webp 1x, img/partner-1-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-1-tablet@1x.webp 1x, img/partner-1-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-1-mobile@1x.webp 1x, img/partner-1-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-1-desktop@1x.png 1x, img/partner-1-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-1-tablet@1x.png 1x, img/partner-1-tablet@2x.png 2x")
                  img(src="img/partner-1-mobile@1x.png", srcset="img/partner-1-mobile@2x.png 2x", alt="Profi Travel", width="45", height="29")
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-2-desktop@1x.webp 1x, img/partner-2-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-2-tablet@1x.webp 1x, img/partner-2-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-2-mobile@1x.webp 1x, img/partner-2-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-2-desktop@1x.png 1x, img/partner-2-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-2-tablet@1x.png 1x, img/partner-2-tablet@2x.png 2x")
                  img(src="img/partner-2-mobile@1x.png", srcset="img/partner-2-mobile@2x.png 2x", alt="Profi Travel", width="96", height="32")
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-3-desktop@1x.webp 1x, img/partner-3-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-3-tablet@1x.webp 1x, img/partner-3-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-3-mobile@1x.webp 1x, img/partner-3-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-3-desktop@1x.png 1x, img/partner-3-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-3-tablet@1x.png 1x, img/partner-3-tablet@2x.png 2x")
                  img(src="img/partner-3-mobile@1x.png", srcset="img/partner-3-mobile@2x.png 2x", alt="Profi Travel", width="92", height="35")
            a(href="#").programs-item__more-partners Подробнее

          block experts
            include experts

          .programs-item__order.btn-order
            .btn-order__wrapper
              button.btn-order__btn Записаться
              .btn-order__status
                .btn-order__loader
                  div
                  div
                  div
                  div
                  div
                  div
                  div
                  div
            .btn-order__desc 615 участников <span>уже записались</span>
    .programs-item.programs-item--bashk
      .programs-item__header
        span 19 мая, вторник
        .programs-item__logo-wrapper
          picture
            img.programs-item__logo(src="img/bashk-logo@1x.png", srcset="img/bashk-logo@2x.png 2x", alt="Логотип компании Терра Башкирия", width="81", height="49")
      .programs-item__main.programs-item__main--closed
        .programs-item__subitem
          .programs-item__time-wrapper
            .programs-item__time 11:00
              span.programs-item__timezone МСК
          .programs-item__desc Больше возможностей на Мальдивах с Reollo Travel Maldives. Открытие deluxe-отеля The Nautilus Maldives и особенности lifestyle-отеля Kandima Maldives. Розыгрыш призов от курортов
          .programs-item__partners
            ul.programs-item__partners-list
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-1-desktop@1x.webp 1x, img/partner-1-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-1-tablet@1x.webp 1x, img/partner-1-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-1-mobile@1x.webp 1x, img/partner-1-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-1-desktop@1x.png 1x, img/partner-1-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-1-tablet@1x.png 1x, img/partner-1-tablet@2x.png 2x")
                  img(src="img/partner-1-mobile@1x.png", srcset="img/partner-1-mobile@2x.png 2x", alt="Profi Travel", width="45", height="29")
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-2-desktop@1x.webp 1x, img/partner-2-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-2-tablet@1x.webp 1x, img/partner-2-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-2-mobile@1x.webp 1x, img/partner-2-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-2-desktop@1x.png 1x, img/partner-2-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-2-tablet@1x.png 1x, img/partner-2-tablet@2x.png 2x")
                  img(src="img/partner-2-mobile@1x.png", srcset="img/partner-2-mobile@2x.png 2x", alt="Profi Travel", width="96", height="32")
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-3-desktop@1x.webp 1x, img/partner-3-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-3-tablet@1x.webp 1x, img/partner-3-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-3-mobile@1x.webp 1x, img/partner-3-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-3-desktop@1x.png 1x, img/partner-3-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-3-tablet@1x.png 1x, img/partner-3-tablet@2x.png 2x")
                  img(src="img/partner-3-mobile@1x.png", srcset="img/partner-3-mobile@2x.png 2x", alt="Profi Travel", width="92", height="35")
            a(href="#").programs-item__more-partners Подробнее

          block experts
            include experts

          .programs-item__order.btn-order
            .btn-order__wrapper
              button.btn-order__btn Записаться
              .btn-order__status
                .btn-order__loader
                  div
                  div
                  div
                  div
                  div
                  div
                  div
                  div
            .btn-order__desc 615 участников <span>уже записались</span>
        .programs-item__subitem
          .programs-item__time-wrapper
            .programs-item__time 11:00
              span.programs-item__timezone МСК
          .programs-item__desc Больше возможностей на Мальдивах с Reollo Travel Maldives. Открытие deluxe-отеля The Nautilus Maldives и особенности lifestyle-отеля Kandima Maldives. Розыгрыш призов от курортов
          .programs-item__partners
            ul.programs-item__partners-list
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-1-desktop@1x.webp 1x, img/partner-1-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-1-tablet@1x.webp 1x, img/partner-1-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-1-mobile@1x.webp 1x, img/partner-1-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-1-desktop@1x.png 1x, img/partner-1-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-1-tablet@1x.png 1x, img/partner-1-tablet@2x.png 2x")
                  img(src="img/partner-1-mobile@1x.png", srcset="img/partner-1-mobile@2x.png 2x", alt="Profi Travel", width="45", height="29")
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-2-desktop@1x.webp 1x, img/partner-2-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-2-tablet@1x.webp 1x, img/partner-2-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-2-mobile@1x.webp 1x, img/partner-2-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-2-desktop@1x.png 1x, img/partner-2-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-2-tablet@1x.png 1x, img/partner-2-tablet@2x.png 2x")
                  img(src="img/partner-2-mobile@1x.png", srcset="img/partner-2-mobile@2x.png 2x", alt="Profi Travel", width="96", height="32")
              li.programs-item__partners-item
                picture
                  source(media="(min-width: 1192px)", srcset="img/partner-3-desktop@1x.webp 1x, img/partner-3-desktop@2x.webp 2x", type="image/webp")
                  source(media="(min-width: 769px)", srcset="img/partner-3-tablet@1x.webp 1x, img/partner-3-tablet@2x.webp 2x", type="image/webp")
                  source(srcset="img/partner-3-mobile@1x.webp 1x, img/partner-3-mobile@2x.webp 2x", type="image/webp")

                  source(media="(min-width: 1192px)", srcset="img/partner-3-desktop@1x.png 1x, img/partner-3-desktop@2x.png 2x")
                  source(media="(min-width: 769px)", srcset="img/partner-3-tablet@1x.png 1x, img/partner-3-tablet@2x.png 2x")
                  img(src="img/partner-3-mobile@1x.png", srcset="img/partner-3-mobile@2x.png 2x", alt="Profi Travel", width="92", height="35")
            a(href="#").programs-item__more-partners Подробнее

          block experts
            include experts

          .programs-item__watch.btn-watch
            .btn-watch__wrapper
              button.btn-watch__btn Смотреть
              .btn-watch__status
            .btn-order__desc 615 участников <span>уже записались</span>
